# Compiled class files
*.class

# Compiled application artifacts
*.jar
*.war
*.ear

# IntelliJ IDEA project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# Gradle build directory
build/

# Maven build directory
target/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# vs code
.vscode/